@model IEnumerable<IdentityUser>

@{
  ViewData["Title"] = "Usuarios";
}

<h1 class="display-4 text-center text-gradient fw-bold">Usuarios</h1>

@if (Model.Any())
{
  <a class="btn btn-primary mb-3" asp-controller="Administracion" asp-action="CrearUsuario">
    <i class="fas fa-plus-circle"></i> Crear usuario
  </a>

  <table class="table table-striped table-hover table-borderless shadow align-middle text-center">
    <thead class="table-dark">
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var user in Model)
      {
        <tr>
          <td>@user.Id</td>
          <td>@user.UserName</td>
          <td>@user.Email</td>
          <td class="d-flex justify-content-center">
            <a class="btn btn-warning mx-1" asp-controller="Administracion" asp-action="EditarUsuario" asp-route-id="@user.Id"><i class="fas fa-edit"></i> Editar</a>
            <a id="AlertaEliminarUsuario" class="btn btn-danger mx-1" data-id="@user.Id" data-username="@user.UserName"><i class="fas fa-minus-circle"></i> Eliminar</a>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
else
{
  <div class="alert alert-warning" role="alert">
    <h1 class="alert-heading">No existen usuarios</h1>
    <hr>
    <a class="text-muted" asp-controller="Administracion" asp-action="CrearUsuario">
      <i class="fas fa-plus-circle"></i> Crear nuevo usuario
    </a>
  </div>
}